/* SCSS belonging to the project Green City Oasis  */

/*      _________________________________________________________________      */
/*      _________________________________________________________________      */
/*                                                 I M P O R T S                                                   */
/*      _________________________________________________________________      */
/*      _________________________________________________________________      */

@import './base/reset';
@import './base/fonts';
@import './base/variables';
@import './base/mixins';

/*      _________________________________________________________________      */
/*      _________________________________________________________________      */
/*                                                     B O D Y                                                      */
/*      _________________________________________________________________      */
/*      _________________________________________________________________      */

body {
	background-color: $grey-dark;
	@include font;
} //   body

/*      _________________________________________________________________      */
/*                                                  H E A D E R                                                    */
/*      _________________________________________________________________      */

header {
	position: fixed;
	z-index: 10;
	display: grid; // grid container for nav
	grid-template-columns: minmax(12%, auto) minmax(auto, 1700px) minmax(12%, auto); // 1/2 = min:12% max: auto    2/3 = min:auto max:1700px    3/4 = min:12% max:auto     how the header is cut up
	background-color: $green-mid;
	height: $header-height;
	width: 100%;
	box-shadow: 0px -20px 25px 15px $shadow-dark;
	a#logo {
		position: fixed;
		top: 25px;
		left: calc(12vw - 75px);
		img {
			height: 150px;
		} //   img
	} //   a#logo

	/*      _________________________________________________________________      */
	/*                                                      N A V                                                        */
	/*      _________________________________________________________________      */

	nav {
		grid-column: 2 / 3; // header is grid container, starting with section 2 end ending before section 3
		height: $header-height;
		align-items: center;
		ul {
			height: 100px;
			margin-left: auto;
			margin-right: 0px;
			display: grid; //   grid container for li
			grid-template-columns: 50% 1fr 1fr 1fr; // 1/2 = 50%    2/3 = 1fr    3/4 = 1fr    4/5 = 1fr
			li {
				display: grid;
				justify-content: space-around;
				align-content: center;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 1.1rem;
				a {
					color: $grey-light;
					padding: 1.5rem 2rem;
					transition: all 500ms ease;
					&:hover {
						border: 3px solid white;
					} //   :hover
					&#gco {
						@include font(400, 2.7rem, $header-font, normal, 2, left, 0.1em);
						&:hover {
							border: none;
						} //   :hover
					} //   #gco
				} //   a
			} //   li
		} //   ul
	} //   nav
} //   header

/*      _________________________________________________________________      */
/*                                                     M A I N                                                      */
/*      _________________________________________________________________      */

.maindiv {
	display: grid; // grid container for nav
	grid-template-columns: minmax(12%, auto) minmax(auto, 1700px) minmax(12%, auto); // 1/2 = min:12% max: auto    2/3 = min:auto max:1700px    3/4 = min:12% max:auto
	main {
		background-color: $grey-mid;
		grid-column: 2 / 3; // header is grid container, starting with section 2 end ending before section 3
		box-shadow: 0px 0px 15px $shadow-mid;
		min-height: $main-height;
		margin-top: $header-height;
		margin-bottom: $footer-height;

		/*      *               *              I N D E X               *               *      */

		//   -    home_message   -

		section#home_message {
			background: $green-dark url('../public/images/homepage_header.jpg') top center/cover no-repeat fixed;
			color: $grey-mid;
			transition: all 500ms ease;
			text-shadow: 2px 3px 3px $shadow-dark;
			padding: 5rem 10rem;
			article {
				background: rgba(0, 0, 0, 0.8);
				padding: 5rem 7rem;
				border-radius: 3rem;
			} //   article
			h2 {
				@include font(700, 3rem, $primary-font, normal, 2, right, 0.2em);
			} //   h2
			p {
				@include font(400, 1.6rem, $primary-font, normal, 2, left, 0em);
				padding-top: 2rem;
				width: 40vw;
			} //   p
		} //   section.home_message

		//   -    home_spotlight   -

		section#home_spotlight {
			min-height: 500px;
			background-color: $grey-light;
			box-shadow: -5px 5px 10px $shadow-light;
			margin: $container-margin;
			padding: 5rem;
			h3 {
				@include font(700, 2.5rem, $primary-font, normal, 2, left, 0.1em);
				color: $green-mid;
			} //   h3
			div.grid_container {
				display: grid; // grid container for nav
				grid-template-columns: 1fr 1fr 1fr; // 1/2 = 1fr    2/3 = 1fr    3/4 = 1fr
				grid-gap: 5rem;
				padding-top: 3rem;
				article {
					@include font(700, 1.8rem, $primary-font, normal, 2, left, 0.05em);
					min-height: 250px;
					background: $faux-white;
					border: 0.5px dotted $green-light;
					box-shadow: -2px 2px 10px $shadow-light;
					padding: 3rem;
					font-variant: small-caps;
					color: $green-dark;
					a {
						color: $green-dark;
						p {
							margin-bottom: 1.5rem;
							&.index_imgs {
								position: relative;
								overflow: hidden;
								width: 100%;
								padding-top: 100%;
							}
							img {
								position: absolute;
								width: 100%;
								top: -9999px;
								bottom: -9999px;
								left: -9999px;
								right: -9999px;
								margin: auto;
							} //   img
						} //   p
						&.modal {
							display: block;
							width: 100%;
							padding: 1.5rem 0;
							background: $green-light-sheer;
							border: none;
							border-radius: 1rem;
							@include font(400, 1.6rem, $primary-font, normal, 2, center, 0.1em);
							color: white;
							text-shadow: 1px 1px 3px $shadow-dark;
							&:hover {
								background: $green-light;
								transition: all 500ms ease;
							}
						}
					} //   a
				} //   article
			} //   div.grid_container
		} //   section#home_spotlight

		/*      *               *              D E T A I L               *               *      */

		article.detail {
			display: grid; // grid container for section
			// grid-template-columns: 1fr 3fr; // 1/2 = 1fr    2/3 = 3fr
			grid-template-columns: 24% 5% 71%; // 1/2 = 1fr    2/3 = 3fr
			// grid-gap: 10rem;
			margin: $container-margin;

			//   -    left_side   -

			section.left_side {
				grid-column: 1 / 2;

				//   -    location_image   -

				section.location_image {
					margin-bottom: 5rem;
					img {
						width: 100%;
						box-shadow: -3px 3px 10px $shadow-light;
					} //   img
				} //   section.location_image

				//   -    location_info   -

				section.location_info {
					background: $grey-light;
					box-shadow: -2px 2px 10px $shadow-light;
					padding: 3rem 2rem;
					p {
						@include font(400, 1.6rem, $primary-font, normal, 2, left, 0rem);
						color: $green-dark;
						margin-bottom: 2rem;
						&.info {
							@include font(700, 1.8rem, $primary-font, normal, 2, left, 0rem);
							color: $green-mid;
							margin-bottom: 0.5rem;
						} //   .info
						&.tag {
							display: inline-block;
							padding: 0.1rem 0.5rem;
							margin: 0.5rem;
							border: 0.5rem solid $green-light-sheer;
							border-radius: 1rem;
						} //   .tag
					} //   p
				} //   section.location_info
			} //   section.left_side

			//   -    right_side   -

			section.right_side {
				grid-column: 3 / 4;

				//   -    location_description   -

				section.location_description {
					background: $grey-light;
					box-shadow: -2px 2px 10px $shadow-light;
					padding: 5rem 5rem;
					h1 {
						@include font(700, 3.5rem, $primary-font, normal, 2, left, 0rem);
						margin-bottom: 3rem;
						color: $green-mid;
					} //   h1
					div.text {
						column-count: 2;
						column-gap: 3rem;
					} //   div
				} //   section.location_description
			} //   section.right_side
		} //   article.detail

		/*      *               *              R E G I S T E R               *               *      */
		section.register {
			display: grid;
			grid-template-columns: 40% 60%; // 1/2 = 50%    2/3 = 50%
			height: $main-height;
			aside {
				grid-column: 1/2;
				background: $green-dark url('../public/images/register2.jpg') center 30% / cover;
			} //   aside
			article {
				grid-column: 2/3;
				display: flex;
				justify-content: center;
				align-items: center;
				Form {
					background-color: $grey-light;
					padding: 5rem;
					width: 80%;
					legend {
						@include font(700, 3rem, $primary-font, normal, 2, left 0.2em);
						padding-bottom: 2rem;
					} //   legend
					li {
						display: grid;
						grid-template-columns: 40% 60%; //   1/2 = 50%      2/3 = 50%
						grid-template-rows: 50% 50%; //   1/2 = 50%      2/3 = 50%
						height: 8rem;
						label {
							grid-column: 1/2;
							grid-row: 1/2;
							display: flex;
							align-items: center;
						} //   label
						input {
							grid-column: 2/3;
							grid-row: 1/2;
							background: $grey-light;
							border-bottom: 2px $green-light-sheer dotted;
						} //   input
						div {
							&.error_message {
								grid-column: 1/3;
								grid-row: 2/3;
								padding: 1rem 0;
								color: $error;
							} //   .error_message
							&.css-2b097c-container {
								grid-column: 1/3;
								grid-row: 2/3;
								&.css-yk16xz-control {
									padding: 2rem;
									.css-1wa3eu0-placeholder,
									.css-tlfecz-indicatorContainer {
										color: $green-dark;
									} //   .css-1wa3eu0-placeholder, .css-tlfecz-indicatorContainer
								} //   .css-yk16xz-control
							} //    css-2b097c-container
						} //   div
						p {
							grid-column: 1/2;
							grid-row: 1/2;
						} //   p
						&.select_box {
							margin: 2rem 0;
						}
					} //   li
					button {
						background: $green-light-sheer;
						border: none;
						@include font(400, 1.6rem, $primary-font, normal, 2, center, 0.1em);
						color: white;
						text-shadow: 1px 1px 3px $shadow-dark;
						&:hover {
							background: $green-light;
							transition: all 500ms ease;
						} //   :hover
						&#yes {
							grid-column: 2/3;
							grid-row: 1/2;
							border-bottom: 1px $grey-light solid;
						} //   #yes
						&#no {
							grid-column: 2/3;
							grid-row: 2/3;
						} //   #no
						&#submit_button {
							margin-top: 1.5rem;
							width: 100%;
							padding: 1rem;
						}
					} //   button
				} //   Form
			} //   article
		} //   section.register
	} //   main
} //   .maindiv

// background:  position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;

/*      _________________________________________________________________      */
/*                                                  F O O T E R                                                    */
/*      _________________________________________________________________      */

footer {
	position: fixed;
	bottom: 0;
	background-color: $grey-light;
	height: $footer-height;
	width: 100%;
	box-shadow: 0px 27px 25px 15px $shadow-dark;
	nav {
		height: $footer-height;
		ul {
			height: $footer-height;
			&:first-child {
				margin-left: 4vw;
			} //   :first-child
			li {
				display: inline-block;
				vertical-align: middle;
				text-transform: uppercase;
				margin-top: calc(30px - (1.05rem / 2));
				font-weight: 700;
				font-size: 1.05rem;
				padding-right: 2rem;
				a {
					color: $green-dark;
					&:hover {
						color: $green-light;
					} //   hover
					&#gco {
						display: none;
					} //   #gco
				} //   a
			} //   li
		} //   ul
	} //   nav
} //   footer

// /*      _________________________________________________________________      */
// /*      _________________________________________________________________      */
// /*                                                   M O D A L                                                    */
// /*      _________________________________________________________________      */
// /*      _________________________________________________________________      */

// .ReactModal__Content--after-open {
// 	z-index: 100;
// }

// body {
//   .slider {
//     width: 800px;
//     height: 600px;
//     position: relative;
//     img {
//       // &:first-child {
//       //   opacity: 1;
//       // }
//       transition: opacity 300ms;
//       position: absolute;
//       left: 0;
//       top: 0;
//       &.show {
//         opacity: 1;
//       }
//       &.hide {
//         opacity: 0;
//       }
//       display: block;
//       width: 800px;
//       height: 600px;
//       opacity: 0;
//     }
//   }
//   nav.navigatie {
//     display: flex;
//     align-items: center;
//     & > a {
//       margin-right: auto;
//     }
//     & > ul {
//       background-color: red;
//       // height: 75px;
//       display: flex;
//       & > li {
//         position: relative;
//         &:hover {
//           ul {
//             opacity: 1;
//           }
//         }
//         a {
//         }
//       }
//       li {
//         margin: 0 20px;
//         a {
//         }
//         ul {
//           position: absolute;
//           transition: opacity 0.4s;
//           left: 0;
//           top: 16px;
//           opacity: 0;
//           padding: 20px;
//           background-color: green;
//           li {
//             margin: 0;
//             white-space: nowrap;
//           }
//         }
//       }
//     }
//   }
//   p {
//     color: $green !important;
//     font-family: $primary-font;
//   }
//   #container {
//     img {
//       @include responsive();
//     }
//   }
//   .grid {
//     @include make-col(5, 20px);
//     div {
//       background-color: blue;
//       img {
//         @include responsive;
//       }
//     }
//   }
// }

// @media screen and (max-width: 900px) {
//   p {
//     color: $red;
//   }
// }

// @media screen and(max-width: 1000px) {
//   body {
//     .grid {
//       @include make-col(4, 20px);
//     }
//   }
// }
// @media screen and(max-width: 800px) {
//   body {
//     .grid {
//       @include make-col(3, 20px);
//     }
//   }
// }
// @media screen and(max-width: 600px) {
//   body {
//     .grid {
//       @include make-col(2, 10px);
//     }
//   }
// }
// @media screen and(max-width: 400px) {
//   body {
//     .grid {
//       @include make-col(1, 0px);
//     }
//   }
// }
