/* SCSS belonging to the project Green City Oasis  */

/*      _________________________________________________________________      */
/*      _________________________________________________________________      */
/*                                                 I M P O R T S                                                   */
/*      _________________________________________________________________      */
/*      _________________________________________________________________      */

@import './base/reset';
@import './base/fonts';
@import './base/variables';
@import './base/mixins';

/*      _________________________________________________________________      */
/*      _________________________________________________________________      */
/*                                             K E Y F R A M E S                                                */
/*      _________________________________________________________________      */
/*      _________________________________________________________________      */

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
} //   fadein

@keyframes react-confirm-alert-fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
} //   react-confirm-alert-fadeIn

/*      _________________________________________________________________      */
/*      _________________________________________________________________      */
/*                                                     B O D Y                                                      */
/*      _________________________________________________________________      */
/*      _________________________________________________________________      */

body {
	background-color: $grey-dark;
	@include font;
} //   body

/*      _________________________________________________________________      */
/*                                                  H E A D E R                                                    */
/*      _________________________________________________________________      */

header {
	position: fixed;
	z-index: 10;
	display: grid; // grid container for nav
	grid-template-columns: minmax(12%, auto) minmax(auto, 1700px) minmax(12%, auto); // 1/2 = min:12% max: auto    2/3 = min:auto max:1700px    3/4 = min:12% max:auto     how the header is cut up
	background-color: $green-mid;
	height: $header-height;
	width: 100%;
	box-shadow: 0px -20px 25px 15px $shadow-dark;
	a#logo {
		position: fixed;
		top: 25px;
		left: calc(12vw - 75px);
		img {
			height: 150px;
		} //   img
	} //   a#logo

	/*      _________________________________________________________________      */
	/*                                                      N A V                                                        */
	/*      _________________________________________________________________      */

	nav {
		&.main_nav {
			grid-column: 2 / 3; // header is grid container, starting with section 2 end ending before section 3
			height: $header-height;
			align-items: center;
			ul {
				height: 100px;
				margin-left: auto;
				margin-right: 0px;
				display: grid; //   grid container for li
				grid-template-columns: 50% 1fr 1fr 1fr; // 1/2 = 50%    2/3 = 1fr    3/4 = 1fr    4/5 = 1fr
				li {
					display: grid;
					justify-content: space-around;
					align-content: center;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 1.1rem;
					transition: all 500ms ease;
					a {
						color: $grey-light;
						padding: 1.5rem 2rem;
						transition: all 500ms ease;
						&:hover {
							border: 3px solid $grey-light;
						} //   :hover
						&#gco {
							@include font(400, 2.7rem, $header-font, normal, 2, left, 0.1em);
							&:hover {
								border: none;
							} //   :hover
						} //   #gco
					} //   a
				} //   li
			} //   ul
		} //   .main_nav
		&.user_nav {
			display: flex;
			justify-content: center;
			align-items: center;
			.dropdown {
				position: relative;
				&:hover {
					ul {
						display: block;
					} //   ul
				} //   :hover
				.fas {
					color: white;
					font-size: 2rem;
					border: none;
					cursor: pointer;
				} //   .fas
				ul {
					display: none;
					position: absolute;
					right: -8rem;
					width: 16rem;
					text-align: center;
					background-color: #f9f9f9;
					box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					z-index: 1;
					a {
						color: black;
						padding: 12px 16px;
						text-decoration: none;
						display: block;
						&:hover {
							background-color: $green-light;
							color: $grey-light;
						} //   :hover
					} //   a
				} //   ul
			} //   .dropdown
		} //   .user_nav
	} //   nav
} //   header

/*      _________________________________________________________________      */
/*                                                     M A I N                                                      */
/*      _________________________________________________________________      */

.maindiv {
	display: grid; // grid container for nav
	grid-template-columns: minmax(12%, auto) minmax(auto, 1700px) minmax(12%, auto); // 1/2 = min:12% max: auto    2/3 = min:auto max:1700px    3/4 = min:12% max:auto
	main {
		background-color: $grey-mid;
		grid-column: 2 / 3; // header is grid container, starting with section 2 end ending before section 3
		box-shadow: 0px 0px 15px $shadow-mid;
		min-height: $main-height;
		margin-top: $header-height;
		margin-bottom: $footer-height;

		/*      *               *              I N D E X               *               *      */

		//   -    home_message   -

		section#home_message {
			background: $green-dark url('../public/images/homepage_header.jpg') top center/cover no-repeat fixed;
			color: $grey-mid;
			transition: all 500ms ease;
			text-shadow: 2px 3px 3px $shadow-dark;
			padding: 5rem 10rem;
			article {
				background: rgba(0, 0, 0, 0.8);
				padding: 5rem 7rem;
				border-radius: 3rem;
			} //   article
			h2 {
				@include font(700, 3rem, $primary-font, normal, 2, right, 0.2em);
			} //   h2
			p {
				@include font(400, 1.6rem, $primary-font, normal, 2, justify, 0em);
				padding-top: 2rem;
				width: 40vw;
			} //   p
		} //   section.home_message

		//   -    home_spotlight   -

		section.location_cards {
			min-height: 500px;
			background-color: $grey-light;
			box-shadow: -5px 5px 10px $shadow-light;
			margin: $container-margin;
			padding: 5rem;
			h3 {
				@include font(700, 2.5rem, $primary-font, normal, 2, left, 0.1em);
				color: $green-mid;
			} //   h3
			div.grid_container {
				display: grid; // grid container for nav
				grid-template-columns: 1fr 1fr 1fr; // 1/2 = 1fr    2/3 = 1fr    3/4 = 1fr
				grid-gap: 5rem;
				padding-top: 3rem;
				article {
					@include font(700, 1.8rem, $primary-font, normal, 2, left, 0.05em);
					min-height: 250px;
					background: $faux-white;
					border: 0.5px dotted $green-light;
					box-shadow: -2px 2px 10px $shadow-light;
					padding: 3rem;
					font-variant: small-caps;
					color: $green-dark;
					a {
						color: $green-dark;
						p {
							margin-bottom: 1.5rem;
							&.card_imgs {
								position: relative;
								overflow: hidden;
								width: 100%;
								padding-top: 100%;
							} //   card_imgs
							img {
								position: absolute;
								width: 100%;
								top: -9999px;
								bottom: -9999px;
								left: -9999px;
								right: -9999px;
								margin: auto;
							} //   img
						} //   p
						&.modal {
							display: block;
							width: 100%;
							padding: 1.5rem 0;
							background: $green-light-sheer;
							border: none;
							border-radius: 1rem;
							@include font(400, 1.6rem, $primary-font, normal, 2, center, 0.1em);
							color: white;
							text-shadow: 1px 1px 3px $shadow-dark;
							&:hover {
								background: $green-light;
								transition: all 500ms ease;
							} //   :hover
						} //   .modal
					} //   a
				} //   article
			} //   div.grid_container
		} //   section#home_spotlight

		/*      *               *              D E T A I L               *               *      */

		article.detail {
			display: grid; // grid container for section
			// grid-template-columns: 1fr 3fr; // 1/2 = 1fr    2/3 = 3fr
			grid-template-columns: 24% 5% 71%; // 1/2 = 1fr    2/3 = 3fr
			// grid-gap: 10rem;
			margin: $container-margin;

			//   -    left_side   -

			section.left_side {
				grid-column: 1 / 2;
				position: sticky;
				bottom: 5rem;
				left: 0;

				//   -    location_image   -

				section.location_image {
					margin-bottom: 5rem;
					img {
						width: 100%;
						box-shadow: -3px 3px 10px $shadow-light;
					} //   img
				} //   section.location_image

				//   -    location_info   -

				section.location_info {
					position: sticky;
					top: $header-height;
					left: 0;
					background: $grey-light;
					box-shadow: -2px 2px 10px $shadow-light;
					padding: 3rem 2rem;
					p {
						@include font(400, 1.6rem, $primary-font, normal, 2, left, 0rem);
						color: $green-dark;
						margin-bottom: 2rem;
						&.info {
							@include font(700, 1.8rem, $primary-font, normal, 2, left, 0rem);
							color: $green-mid;
							margin-bottom: 0.5rem;
						} //   .info
						&.tag {
							@include font(400, 1.3rem, $primary-font, normal, 2, left, 0rem);
							display: inline-block;
							padding: 0.1rem 0.5rem;
							margin: 0.5rem;
							border: 0.5rem solid $green-light-sheer;
							border-radius: 1rem;
							transition: all 500ms ease;
							&:hover {
								background-color: $green-light-sheer;
								color: $grey-light;
							} //   :hover
						} //   .tag
					} //   p
				} //   section.location_info
			} //   section.left_side

			//   -    right_side   -

			section.right_side {
				grid-column: 3 / 4;

				//   -    location_description   -

				section.location_description {
					background: $grey-light;
					box-shadow: -2px 2px 10px $shadow-light;
					padding: 5rem 5rem;
					margin-bottom: 5rem;
					h1 {
						@include font(700, 3.5rem, $primary-font, normal, 2, left, 0rem);
						margin-bottom: 3rem;
						color: $green-mid;
					} //   h1
					div.text {
						column-count: 2;
						column-gap: 6rem;
						margin: 2rem;
						@include font(400, 1.7rem, $primary-font, normal, 2, justify, 0rem);
						// word-wrap: break-word;
					} //   div
				} //   section.location_description

				//   -    location_review   -

				section.location_review {
					background: $grey-light;
					box-shadow: -2px 2px 10px $shadow-light;
					padding: 5rem 5rem;
					h3 {
						@include font(700, 2.3rem, $primary-font, normal, 2, left, 0.2rem);
						color: $green-mid;
					} //   h3
					p {
						padding: 2rem;
					} //   p
					section.read_reviews {
						ul li {
							background: $faux-white;
							box-shadow: -2px 2px 10px $shadow-light;
							margin: 5rem 2rem;
							padding: 2rem;
							p {
								@include font(400, 1.6rem, $primary-font, normal, 2, justify, 0rem);
								&.review_user {
									@include font(700, 1.8rem, $primary-font, normal, 2, left, 0.1rem);
									display: flex;
									justify-content: space-between;
									color: $green-mid;
								} //   review_user
								span {
									@include font(400, 1.5rem, $primary-font, normal, 2, left, 0rem);
									color: $green-light-sheer;
								} //   span
							} //   p
						} //   ul li
					}
					form {
						padding: 2rem;
						legend {
							@include font(400, 1.8rem, $primary-font, normal, 2, justify, 0rem);
						}
						ul {
							width: 100%;
							li {
								padding: 3rem;
								textarea {
									padding: 2rem;
									min-height: 20rem;
									width: 100%;
									box-shadow: -2px 2px 10px $shadow-light;
								}
								.error {
									color: $error;
								}
							}
							button {
								@include font(400, 2rem, $primary-font, normal, 2, center, 0.2rem);
								margin: 0 3rem;
								border: none;
								width: 200px;
								height: 50px;
								background-color: $green-light-sheer;
								color: $faux-white;
								font-variant: small-caps;
							}
						}
					}
				} //   section.location_review
			} //   section.right_side
		} //   article.detail

		/*      *               *              S E A R C H   P A G E               *               *      */
		article.search_page {
			margin: $container-margin;
			display: grid;
			grid-template-columns: 350px auto;
			grid-column-gap: 4rem;
			section {
				background-color: $grey-light;
				box-shadow: -5px 5px 10px $shadow-light;

				//   -    search_desc   -

				&.search_desc {
					grid-column: 1 / 3;
					grid-row: 1/2;
					padding: 5rem;

					h2 {
						@include font(700, 3.5rem, $primary-font, normal, 2, left, 0rem);
						color: $green-mid;
					} //   h2
					p {
						@include font(400, 1.8rem, $primary-font, normal, 2, justify, 0em);
						margin: 1.5rem 3rem;
					} //   p
				}

				//   -    search_bar   -

				&.search_bar {
					grid-column: 1 / 3;
					grid-row: 2 / 3;
					margin: 6rem 20rem;
					background: none;
					height: 9rem;
					border: 1rem $green-light double;
					border-radius: 5rem;
					background-color: $faux-white;

					input {
						height: 100%;
						width: 80%;
						border-top-left-radius: 5rem;
						border-bottom-left-radius: 5rem;
						padding-left: 2rem;
						background-color: $faux-white;
					} //   input
					button {
						height: 100%;
						width: 20%;
						border: none;
						border-radius: 5rem;
						font-size: 2.2rem;
						color: $green-light-sheer;
						background-color: $faux-white;
						&:hover {
							background-color: $green-light-sheer;
							color: $faux-white;
						}
					} //   button
				} //   search_bar

				//   -    search_filters   -

				&.search_filters {
					grid-column: 1 / 2;
					grid-row: 3 / 4;
					padding: 4rem 3rem;
					position: sticky;
					top: 0;
					h3 {
						@include font(700, 2rem, $primary-font, normal, 2, left, 0.2rem);
						color: $green-mid;
					} //   h3
					.accordion {
						padding: 1rem;
						.accordion__button {
							@include font(700, 1.8rem, $primary-font, normal, 2, left, 0rem);
							color: $faux-white;
							background-color: $green-light-sheer;
							padding: 1rem 2rem 0.5rem 2rem;
							&:hover {
								background-color: $green-light;
							} //   :hover
							&:before {
								display: inline-block;
								content: '';
								height: 10px;
								width: 10px;
								margin-right: 12px;
								border-bottom: 2px solid currentColor;
								border-right: 2px solid currentColor;
								transform: rotate(45deg);
							} //   :before
						} //   accordion__button
						li {
							input {
								position: absolute;
								opacity: 0;
								cursor: pointer;
								height: 0;
								width: 0;
							} //   input
							label {
								span {
									font-size: 2.5rem;
									color: $green-mid;
									margin-right: 1rem;
									&.fa-square {
										&:hover {
											color: $green-light;
										} //   :hover
									} //   .fa-square
									&.fa-check-square {
										background-color: $green-light-sheer;
										border-radius: 5px;
									} //   .fa-check-square
								} //   span
								@include font(400, 1.7rem, $primary-font, normal, 1.7, left, 0rem);
								padding-left: 1rem;
							} //   label
						} //   li
					} //   .accordion
					.accordion__button[aria-expanded='true']::before,
					.accordion__button[aria-selected='true']::before {
						transform: rotate(-45deg);
					} //   :before
					.accordion__panel {
						padding: 2rem;
						animation: fadein 0.35s ease-in;
					} //   .accordion__panel
				} //   search_filters

				//   -    filtered_locations   -

				&.filtered_locations {
					grid-column: 2 / 3;
					grid-row: 3 / 4;
					ul {
						a li {
							@include font(700, 2.5rem, $primary-font, normal, 2, left, 0.05em);
							min-height: 250px;
							background: $faux-white;
							border: 0.5px dotted $green-light;
							box-shadow: -2px 2px 10px $shadow-light;
							padding: 3rem 5rem;
							font-variant: small-caps;
							color: $green-dark;
							margin: 5rem 4.5rem;
							display: flex;
							justify-content: space-between;
							align-items: center;
							transition: all 500ms ease;
							&:hover {
								color: $green-light-sheer;
								border-radius: 2rem;
							} //   img:hover
						} //   a li
					} //   ul
				} //   filtered_locations
			} //   section
		} //   article

		/*      *               *              P R O F I L E               *               *      */
		aside.profile_header_img {
			background: $green-dark url('../public/images/profile_header.jpg') bottom center/cover no-repeat fixed;
			width: 100%;
			height: 35rem;
		} //   aside.profile_header_img

		section.profile {
			article {
				background-color: $grey-light;
				position: absolute;
				top: 30%;
				left: calc(50% - 400px);
				width: 800px;
				padding: 5rem;
				box-shadow: -2px 2px 10px $shadow-light;

				h2 {
					@include font(700, 3rem, $primary-font, normal, 2, left 0.2em);
					color: $green-dark;
					margin-bottom: 4rem;
					span {
						color: $green-light;
						@include font(700, 3rem, $header-font, normal, 2, left 0.2em);
					} //   span
				} //   h2
				ul {
					padding: 0 5rem 8rem 5rem;
					li {
						display: grid;
						grid-template-columns: 40% 60%;
						margin-bottom: 2rem;
						label {
							@include font(700, 2rem, $primary-font, normal, 2, left 0.1em);
							color: $green-light;
						} //   label
						p {
							@include font(40, 1.7rem, $primary-font, normal, 2, left 0.1em);
							color: $green-dark;
						} //   p
					} //   li
				} //   ul
				aside {
					button.delete-profile {
						background-color: $error;
						@include font(40, 1.8rem, $primary-font, normal, 2, left 0.1em);
						color: $faux-white;
						font-variant: small-caps;
						position: absolute;
						bottom: 5rem;
						right: 5rem;
						border: none;
						width: 200px;
						height: 50px;
					}
				}
			} //   article
		} //   section.profile

		/*      *               *              R E G I S T E R   &   L O G I N               *               *      */
		section.form {
			display: grid;
			grid-template-columns: 40% 60%; // 1/2 = 50%    2/3 = 50%
			height: $main-height;
			aside {
				grid-column: 1/2;
				background: $green-dark url('../public/images/register2.jpg') center 30% / cover;
				&.login_img {
					background: $green-dark url('../public/images/login.jpg') center 30% / cover;
				}
			} //   aside
			article {
				grid-column: 2/3;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				form {
					background-color: $grey-light;
					padding: 5rem;
					width: 80%;
					max-height: 650px;
					overflow-y: scroll;
					legend {
						@include font(700, 3rem, $primary-font, normal, 2, left 0.2em);
						padding-bottom: 2rem;
					} //   legend
					li {
						display: grid;
						grid-template-columns: 40% 60%; //   1/2 = 50%      2/3 = 50%
						grid-template-rows: 50% 50%; //   1/2 = 50%      2/3 = 50%
						height: 8rem;
						label {
							grid-column: 1/2;
							grid-row: 1/2;
							display: flex;
							align-items: center;
						} //   label
						input {
							grid-column: 2/3;
							grid-row: 1/2;
							background: $grey-light;
							border-bottom: 2px $green-light-sheer dotted;
						} //   input
						div {
							&.error_message,
							p.error_message {
								grid-column: 1/3;
								grid-row: 2/3;
								padding: 1rem 0;
								color: $error;
							} //   .error_message
							&.css-2b097c-container {
								grid-column: 1/3;
								grid-row: 2/3;
								&.css-yk16xz-control {
									padding: 2rem;
									.css-1wa3eu0-placeholder,
									.css-tlfecz-indicatorContainer {
										color: $green-dark;
									} //   .css-1wa3eu0-placeholder, .css-tlfecz-indicatorContainer
								} //   .css-yk16xz-control
							} //    css-2b097c-container
						} //   div
						p {
							grid-column: 1/2;
							grid-row: 1/2;
						} //   p
						&.select_box {
							margin: 2rem 0;
						} //   select_box
					} //   li
					button {
						background: $green-light-sheer;
						border: none;
						@include font(400, 1.6rem, $primary-font, normal, 2, center, 0.1em);
						color: white;
						text-shadow: 1px 1px 3px $shadow-dark;
						&:hover,
						&:focus {
							background: $green-light;
							transition: all 500ms ease;
						} //   :hover
						&#yes {
							grid-column: 2/3;
							grid-row: 1/2;
							border-bottom: 1px $grey-light solid;
						} //   #yes
						&#no {
							grid-column: 2/3;
							grid-row: 2/3;
						} //   #no
						&#submit_button {
							margin-top: 3rem;
							width: 100%;
							padding: 1rem;
						} //   submit_button
					} //   button
				} //   form
			} //   article
		} //   section.register
		section.login {
			display: flex;
			justify-content: center;
			padding-top: 200px;
		} //   .login
		p.error_message {
			color: $error;
			padding: 1rem 0;
		} //   error_message

		/*      *               *              A B O U T               *               *      */

		article.over {
			margin: $container-margin;
			background: $grey-light;
			padding: 5rem 7rem;
			box-shadow: -2px 2px 10px $shadow-light;
			// width: 70%;
			h2 {
				@include font(700, 2rem, $primary-font, normal, 2, left, 0.2em);
			}
			section {
				display: flex;
				p {
					margin: 5rem 10rem 0 0;
				}
				img {
					max-width: 350px;
					// position: absolute;
					// top: 45rem;
				}
			}
		}
	} //   main
} //   .maindiv

.react-confirm-alert {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
}

.react-confirm-alert-body {
	background: $grey-mid;
	padding: 5rem;
	border: 1rem $error double;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: -10px 10px 20px $shadow-dark;
	h1 {
		@include font(700, 3rem, $primary-font, normal, 2, left, 0rem);
		color: $error;
		font-variant: small-caps;
	}
}

.react-confirm-alert-button-group {
	display: flex;
	justify-content: space-evenly;
	margin-top: 1.5em;
	width: 100%;
}
.react-confirm-alert-button-group button:first-of-type {
	background: $error;
	padding: 7px;
	border: 2px solid $error;
	color: $faux-white;
	cursor: pointer;
	width: 40%;
	outline-width: 0;
}

.react-confirm-alert-button-group button {
	background: $green-mid;
	border: 0.5rem solid $green-mid;
	color: $faux-white;
	cursor: pointer;
	box-shadow: -2px 2px 10px $shadow-light;
	margin-top: 10px;
	width: 40%;
	outline-width: 0;
}

body.react-confirm-alert-body-element {
	overflow: hidden;
}

.react-confirm-alert-overlay {
	position: fixed;
	background-color: $black-sheer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	animation: react-confirm-alert-fadeIn 0.2s 0.2s forwards;
}

/*      _________________________________________________________________      */
/*                                                  F O O T E R                                                    */
/*      _________________________________________________________________      */

footer {
	position: fixed;
	bottom: 0;
	background-color: $grey-light;
	height: $footer-height;
	width: 100%;
	box-shadow: 0px 27px 25px 15px $shadow-dark;
	nav {
		height: $footer-height;
		ul {
			height: $footer-height;
			&:first-child {
				margin-left: 4vw;
			} //   :first-child
			li {
				display: inline-block;
				vertical-align: middle;
				text-transform: uppercase;
				margin-top: calc(30px - (1.05rem / 2));
				font-weight: 700;
				font-size: 1.05rem;
				padding-right: 2rem;
				a {
					color: $green-dark;
					&:hover {
						color: $green-light;
					} //   hover
					&#gco {
						display: none;
					} //   #gco
				} //   a
			} //   li
		} //   ul
	} //   nav
} //   footer

// /*      _________________________________________________________________      */
// /*      _________________________________________________________________      */
// /*                                                   M O D A L                                                    */
// /*      _________________________________________________________________      */
// /*      _________________________________________________________________      */

// .ReactModal__Content--after-open {
// 	z-index: 100;
// }

// body {
//   .slider {
//     width: 800px;
//     height: 600px;
//     position: relative;
//     img {
//       // &:first-child {
//       //   opacity: 1;
//       // }
//       transition: opacity 300ms;
//       position: absolute;
//       left: 0;
//       top: 0;
//       &.show {
//         opacity: 1;
//       }
//       &.hide {
//         opacity: 0;
//       }
//       display: block;
//       width: 800px;
//       height: 600px;
//       opacity: 0;
//     }
//   }
//   nav.navigatie {
//     display: flex;
//     align-items: center;
//     & > a {
//       margin-right: auto;
//     }
//     & > ul {
//       background-color: red;
//       // height: 75px;
//       display: flex;
//       & > li {
//         position: relative;
//         &:hover {
//           ul {
//             opacity: 1;
//           }
//         }
//         a {
//         }
//       }
//       li {
//         margin: 0 20px;
//         a {
//         }
//         ul {
//           position: absolute;
//           transition: opacity 0.4s;
//           left: 0;
//           top: 16px;
//           opacity: 0;
//           padding: 20px;
//           background-color: green;
//           li {
//             margin: 0;
//             white-space: nowrap;
//           }
//         }
//       }
//     }
//   }
//   p {
//     color: $green !important;
//     font-family: $primary-font;
//   }
//   #container {
//     img {
//       @include responsive();
//     }
//   }
//   .grid {
//     @include make-col(5, 20px);
//     div {
//       background-color: blue;
//       img {
//         @include responsive;
//       }
//     }
//   }
// }

// @media screen and (max-width: 900px) {
//   p {
//     color: $red;
//   }
// }

// @media screen and(max-width: 1000px) {
//   body {
//     .grid {
//       @include make-col(4, 20px);
//     }
//   }
// }
// @media screen and(max-width: 800px) {
//   body {
//     .grid {
//       @include make-col(3, 20px);
//     }
//   }
// }
// @media screen and(max-width: 600px) {
//   body {
//     .grid {
//       @include make-col(2, 10px);
//     }
//   }
// }
// @media screen and(max-width: 400px) {
//   body {
//     .grid {
//       @include make-col(1, 0px);
//     }
//   }
// }
